! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
/* *fading: 35 */
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! URxvt General Settings
URxvt.scrollBar: False
URxvt.cursorBlink: True
URxvt.termName: rxvt-unicode-256color
URxvt.depth: 32
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.saveLines: 1000
URxvt.internalBorder: 10
! Shut up rxvt
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.print-pipe: "cat > /dev/null"
! URxvt Font
URxvt.font: xft:Hack Nerd Font Mono:size=11
! URxvt.letterSpace: -1
! URxvt Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.resize-font.bigger: C-equal
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.reset: C-0

! General X Settings
Xcursor.size: 16
Xft.dpi: 96
Xft.rgba: rgb
Xft.hinting: 1
Xft.autohint: 0
Xft.antialias: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
